*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --text-color-primary: #fff;
  --text-color-secondary: #272727;
  --accent-color-primary: #ff7b15;
  --accent-color-secondary: #1c4c97;
  --background-color: white;
  --header-footer-bg-color: #272727;

  --text-font: "Nunito", sans-serif;
  --title-font: "Bebas Neue", sans-serif;
  --description-color: #6a6a6a;



  scroll-behavior: smooth;
  background-color: var(--background-color);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}
