.header-hero {
  background-image: url("../img/header-herobg.png");
  background-size: cover;
  background-position: center;
  min-height: 772px;
  padding: 90px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;

  .header-hero__overlay {
    padding: 0 24px;
  }

  .header-hero__titleblock {
    margin-bottom: 12px;
  }
  .header-hero__title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 60px;
    line-height: 1.1;
    text-align: left;
    max-width: 300px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
  }
  .header-hero__description {
    font-size: 19px;
    font-family: "Nunito", sans-serif;
    line-height: 1.6;
    min-width: 272px;
    line-height: 1.6;
    text-align: left;
    flex-wrap: wrap;
    color: #4d4d4d;

    .header-hero__discount {
      font-weight: bold;
      color: var(--accent-color-secondary);
    }
  }

  .header-hero__actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;

    .header-hero__button {
      display: inline-block;
      background-color: #1e5ba8;
      color: white;
      padding: 12px 30px;
      border-radius: 5px;
      font-weight: 600;
      text-align: center;
      width: fit-content;
      width: 155px;
      text-decoration: none;
    }
    .header-hero__video-btn {
      font-family: "Nunito", sans-serif;
      font-weight: bold;
      width: 24px;
      display: flex;
      align-items: center;
      gap: 8px;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      font-size: 14px;
      color: #272727;

      .header-hero__video-label {
        display: flex;
      }
    }
  }

  .header-hero__gadgets {
    .gadgets__item {
      width: 20px;
    }
  }
}
