.header-hero {
  background-image: url("../img/header-herobg.png");
  background-size: cover;
  min-height: 772px;
  padding: 90px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .header-hero__overlay {
    width: 100%;
    padding: 0 24px;

    .header-hero__title {
      font-family: var(--title-font);
      font-weight: bold;
      font-size: 60px;
      line-height: 1.1;
      letter-spacing: -1px;
      text-align: left;
      max-width: min(90%, 280px);
      margin: 0 0 20px 0;
      text-transform: uppercase;
    }

    .header-hero__description {
      font-size: 19px;
      font-family: var(--text-font);
      line-height: 1.6;
      min-width: 272px;
      line-height: 1.6;
      text-align: left;
      flex-wrap: wrap;
      color: #4d4d4d;
      margin-bottom: 42px;

      .header-hero__discount {
        font-weight: bold;
        color: var(--accent-color-secondary);
      }
    }
  }

  .header-hero__actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;

    .header-hero__button {
      display: inline-block;
      background-color: var(--accent-color-primary);
      color: white;
      padding: 12px 30px;
      border-radius: 5px;
      font-weight: 600;
      text-align: center;
      width: fit-content;
      width: 155px;
      text-decoration: none;
    }
    .header-hero__video-btn {
      font-family: var(--text-font);
      font-weight: bold;
      width: 24px;
      display: flex;
      align-items: center;
      gap: 8px;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      font-size: 14px;
      color: #272727;

      .header-hero__video-label {
        display: flex;
        white-space: nowrap; 
        text-overflow: ellipsis;
      }
    }
  }

  .header-hero__gadgets {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;

    .gadgets__item {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 10px;

      .gadgets__icon {
        width: 20px;
        height: 24px;
        color: var(--description-color);
      }

      .gadgets__label {
        font-size: 14px;
        color: var(--description-color);
        margin: 0;
      }
    }
  }
}

@media(min-width: 444px) {
  
}