<section class="popularitems">
  <div class="popularitems__text">
    <h2 class="popularitems__title">POPULAR ITEMS</h2>
    <h3 class="popularitems__subtitle">
      <span>/</span> Power Up with the Best in Tech <span>/</span>
    </h3>
    <p class="popularitems__description">
      Discover our best-selling items that our customers love!
    </p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="3000px"
      height="31"
      style="width: 100%"
    >
      <path
        d="M0 15.5 L3000 15.5"
        style="fill: none; stroke: rgba(0, 0, 0, 0.07); stroke-width: 1px"
      ></path>
    </svg>
  </div>

  <div class="popularitems__list">
    <article class="popularitems__card popularitems__card--sale">
      <div class="popularitems__badge">Sale</div>
      <img
        src="img/popularitems/popularitem-picture1.png"
        alt="PixelView Flex monitor"
        class="popularitems__img"
      />
      <p class="popularitems__stock popularitems__stock--out">Out of stock</p>
      <h3 class="popularitems__name">PixelView Flex</h3>
      <p class="popularitems__price">
        <span class="popularitems__price-old">$210.00USD</span>
        <span class="popularitems__price-new">$199.99USD</span>
      </p>
      <button class="popularitems__btn" disabled>Buy Now</button>
    </article>

    <article class="popularitems__card popularitems__card--sale">
      <div class="popularitems__badge">Limited</div>
      <img
        src="img/popularitems/popularitem-picture2.png"
        alt="NovaSound Pro 3000"
        class="popularitems__img"
      />
      <h3 class="popularitems__name">NovaSound Pro 3000</h3>
      <p class="popularitems__price">
        <span class="popularitems__price-new">$92.00USD</span>
      </p>
      <button class="popularitems__btn">Buy Now</button>
    </article>

    <article class="popularitems__card popularitems__card--sale">
      <div class="popularitems__badge">New</div>
      <img
        src="img/popularitems/popularitem-picture3.png"
        alt="QuantumBoard X1"
        class="popularitems__img"
      />
      <h3 class="popularitems__name">QuantumBoard X1</h3>
      <p class="popularitems__price">
        <span class="popularitems__price-old">$60.00USD</span>
        <span class="popularitems__price-new">$54.00USD</span>
      </p>
      <button class="popularitems__btn">Buy Now</button>
    </article>

    <article class="popularitems__card popularitems__card--sale">
      <img
        src="img/popularitems/popularitem-picture4.png"
        alt="AeroWave 250"
        class="popularitems__img"
      />
      <h3 class="popularitems__name">AeroWave 250</h3>
      <p class="popularitems__price">
        <span class="popularitems__price-new">$95.00USD</span>
      </p>
      <button class="popularitems__btn">Buy Now</button>
    </article>

    <article class="popularitems__card popularitems__card--sale">
      <div class="popularitems__badge">New</div>
      <img
        src="img/popularitems/popularitem-picture5.png"
        alt="LumiMouse Pro"
        class="popularitems__img"
      />
      <h3 class="popularitems__name">LumiMouse Pro</h3>
      <p class="popularitems__price">
        <span class="popularitems__price-old">$49.00USD</span>
        <span class="popularitems__price-new">$42.00USD</span>
      </p>
      <button class="popularitems__btn">Buy Now</button>
    </article>

    <article class="popularitems__card popularitems__card--sale">
      <img
        src="img/popularitems/popularitem-picture6.png"
        alt="AeroBeats 500"
        class="popularitems__img"
      />
      <h3 class="popularitems__name">AeroBeats 500</h3>
      <p class="popularitems__price">
        <span class="popularitems__price-new">$124.00USD</span>
      </p>
      <button class="popularitems__btn">Buy Now</button>
    </article>

    <article class="popularitems__card popularitems__card--sale">
      <div class="popularitems__badge">Bestseller</div>
      <img
        src="img/popularitems/popularitem-picture7.png"
        alt="SyncroMouse Elite"
        class="popularitems__img"
      />
      <h3 class="popularitems__name">SyncroMouse Elite</h3>
      <p class="popularitems__price">
        <span class="popularitems__price-old">$46.00USD</span>
        <span class="popularitems__price-new">$36.00USD</span>
      </p>
      <button class="popularitems__btn">Buy Now</button>
    </article>

    <article class="popularitems__card popularitems__card--sale">
      <div class="popularitems__badge">New</div>
      <img
        src="img/popularitems/popularitem-picture8.png"
        alt="NeuroSound 700"
        class="popularitems__img"
      />
      <h3 class="popularitems__name">NeuroSound 700</h3>
      <p class="popularitems__price">
        <span class="popularitems__price-new">$105.00USD</span>
      </p>
      <button class="popularitems__btn">Buy Now</button>
    </article>

    <article class="popularitems__card popularitems__card--sale">
      <img
        src="img/popularitems/popularitem-picture9.png"
        alt="AType 300 Keyboard"
        class="popularitems__img"
      />
      <p class="popularitems__stock popularitems__stock--out">Pre-order</p>
      <h3 class="popularitems__name">AType 300 Keyboard</h3>
      <p class="popularitems__price">
        <span class="popularitems__price-old">$52.00USD</span>
        <span class="popularitems__price-new">$40.00USD</span>
      </p>
      <button class="popularitems__btn">Buy Now</button>
    </article>

    <article class="popularitems__card popularitems__card--sale">
      <div class="popularitems__badge">Bestseller</div>
      <img
        src="img/popularitems/popularitem-picture10.png"
        alt="NovaScreen Ultra"
        class="popularitems__img"
      />
      <h3 class="popularitems__name">NovaScreen Ultra</h3>
      <p class="popularitems__price">
        <span class="popularitems__price-new">$210.00USD</span>
      </p>
      <button class="popularitems__btn">Buy Now</button>
    </article>
  </div>
</section>
