<section class="bestseller">
  <div class="bestseller__block">
     <article class="bestseller__item">
      <div class="bestseller__content">
        <h2 class="bestseller__title">BESTSELLER</h2>
        <h3 class="bestseller__name">KeyGo X1</h3>
        <p class="bestseller__description">Wireless headphones.</p>
      </div>
      <img
        src="img/bestseller/bestseller-picture1.png"
        alt="bestseller-wireless-headphones"
        class="bestseller__img"
      />
    </article>

    <article class="bestseller__item">
      <div class="bestseller__content">
        <h2 class="bestseller__title">BESTSELLER</h2>
        <h3 class="bestseller__name">QuantumX1</h3>
        <p class="bestseller__description">Keyboard for gamers.</p>
      </div>
      <img
        src="img/bestseller/bestseller-picture2.png"
        alt="bestseller-keyboard-for-gamers"
        class="bestseller__img"
      />
    </article>

    <article class="bestseller__item">
      <div class="bestseller__content">
        <h2 class="bestseller__title">BESTSELLER</h2>
        <h3 class="bestseller__name">AeroTrack 300</h3>
        <p class="bestseller__description">Ultimate mice for work.</p>
      </div>
      <img
        src="img/bestseller/bestseller-picture3.png"
        alt="bestseller-ultimate-mice-for-work"
        class="bestseller__img"
      />
    </article>


  </div>
</section>
