.bestseller{
    display: flex;
    
    .bestseller_block{
        /* width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px; */

        .bestseller_item{
            /* flex: 1 1 calc(25% - 20px);
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            padding: 15px;
            text-align: center; */

            .bestseller__content{
                width: 10px;
            }
            .bestseller__title{
                color: red;
            }
            /* .bestseller__name{}
            .bestseller__description{} */
        }

        .bestseller__img{
            width: 40px;
        }
    }

}